# vim: ft=toml

use = "discord"
default = "alerts"

[alerts]
request.webhook_path = "/000000000000000000/alerts-example-token"
data.username = "manakan"
data.avatar_url = "https://example.com/avatar-alerts.jpg"

[dev]
request.webhook_path = "{{env.DEV_WEBHOOK_PATH}}"
data.username = "{{arg.username}}"
data.avatar_url = "https://example.com/avatar-dev.jpg"
headers.content-type = "text/plain"
