# vim: ft=toml

name = "discord"

[request]
method = "POST"
base_url = "https://discord.com"
path = "/api/webhooks{{webhook_path}}"

[headers]
content-type = "application/json"

[data]
username = "{{username}}"
avatar_url = "{{avatar_url}}"
content = "{{argv.1}}"
